.hero {
  display: grid;
  padding-bottom: 6.4rem;

  @include respond(tab-land) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8rem;
    padding-left: 6.4rem;
    padding-right: 4.4rem;
  }

  @include respond(laptop) {
    gap: 10rem;
    padding-left: 7.4rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 1.2rem;
    margin-top: 4.4rem;

    @include respond(tab-land) {
      grid-row: 1;
      padding-top: 3rem;
      gap: 4.4rem;
      padding-left: 6.4rem;
    }
  }

  &__clients {
    display: flex;
    justify-content: space-between;
    margin-top: 4.4rem;
    @include respond(tab-land) {
      margin-top: auto;
      gap: 2.4rem;
    }
    img {
      height: 1.5rem;

      @include respond(phone) {
        height: 2.4rem;
      }

      @include respond(tab-port) {
        height: 3rem;
      }
      @include respond(tab-land) {
        height: 2rem;
      }
      @include respond(laptop) {
        height: 2.5rem;
      }
      @include respond(big-desktop) {
        height: 3rem;
      }
    }
  }
}
